.prompt-container{
    width: 100%;
    background-color: #bfbfbf;
    padding:3rem 0;
    display: flex;
    justify-content: center;
}
.form__prompt-container{
    width: 60%;
}
.textarea__form{
    display: block;
    width: 100%;
}
.submit-container__form{
    display: flex;
    justify-content: flex-end;
}